<%= error_messages_for 'custom_relations_field' %>

<%# if custom_relations_field.is_a?(IssueCustomField) %>
<%#<div class="splitcontentleft"> %>
<%# end %>

<div class="box tabular">
<p><%= f.text_field :name, :required => true %></p>
<p><%= f.select :project_id, project_tree_options_for_select(Project.all, :selected => custom_relations_field.project), {:required => true} %></p>
<p><%= f.select :custom_field_id, CustomField.all.map{|cf| [cf.name, cf.id]}, {:required => true} %></p>
<p><%= f.select :project_to_id, project_tree_options_for_select(Project.all, :selected => custom_relations_field.target_project), {:required => true} %></p>

</div>
