<h2>Custom Relations</h2>

<table class="list">
  <thead><tr>
    <th><%=l(:label_custom_relations_field)%></th>
    <th><%=l(:label_enable_for_project)%></th>
    <th><%=l(:label_target_project)%></th>
    <th><%=l(:label_custom_field)%></th>
    <th></th>
  </tr></thead>
  <tbody>
    <%- @custom_relations_fields.each do |field| %>
      <tr>
        <td><%= link_to field.name, edit_custom_relations_field_path(field) %></td>
        <td><%= link_to field.project, field.project %></td>
        <td><%= link_to field.target_project, field.target_project %></td>
        <td><%= link_to field.custom_field.name, custom_fields_path %></td>
        <td class="buttons">
          <%= delete_link custom_relations_field_path(field) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<p><%= link_to l(:label_custom_relations_field_new), new_custom_relations_field_path, :class => 'icon icon-add' %></p>
